name: Release Gem

on:
  workflow_dispatch:
    inputs:
      repo:
        description: "Repository to release (e.g., owner/repo)"
        required: true
        type: string
      tag:
        description: "Tag to release (e.g., v1.0.0)"
        required: true
        type: string

jobs:
  release:
    permissions:
      id-token: write # For OIDC authentication
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Checkout release-machine
        uses: actions/checkout@v6
        with:
          path: release-machine

      - name: Import trusted keys
        run: |
          # GPG
          if grep -q "^-----BEGIN" release-machine/.github/trusted-keys/gpg.asc; then
            gpg --import release-machine/.github/trusted-keys/gpg.asc
          fi

          # SSH
          mkdir -p ~/.ssh
          cp release-machine/.github/trusted-keys/ssh.txt ~/.ssh/allowed_signers
          chmod 600 ~/.ssh/allowed_signers
          git config --global gpg.ssh.allowedSignersFile ~/.ssh/allowed_signers

          # Cleanup
          rm -rf release-machine

      - name: Checkout repo to release
        uses: actions/checkout@v6
        with:
          repository: ${{github.event.inputs.repo}}
          ref: refs/tags/${{github.event.inputs.tag}}
          path: target-repo

      - name: Verify release tag
        id: verify_tag
        working-directory: target-repo
        run: |
          # Fails if the tag is not signed by one of our trusted keys
          git tag -v "${{ github.event.inputs.tag }}"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          working-directory: target-repo

      - name: Publish gem
        uses: rubygems/release-gem@v1
        with:
          working-directory: target-repo

      - name: Annotate workflow
        working-directory: target-repo
        run: |
          TAG="${{ github.event.inputs.tag }}"
          TAGGER=$(git for-each-ref --format='%(taggername)' "refs/tags/$TAG")
          if [ -z "$TAGGER" ]; then
            TAGGER=$(git log -1 --pretty=format:'%an' "$TAG")
          fi
          echo "### Tag created by: $TAGGER" >> $GITHUB_STEP_SUMMARY
